<!DOCTYPE html>
<html lang="en">
<% include partial/head %>
<body>
  <% include partial/header %>
  <main id="main" class="list-page">
    <div class="main-inner">
      <ul class="link-list">
        <% links.forEach(function (item, index) {%>
        <li class="link-item">
          <a href="<%= item.link %>" target="_blank">
            <%= item.name %>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </main>

  <% include partial/script %>
</body>
</html>
